body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  font-family: "Roboto Light", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

/*********************************************************************/
/* ------------------------ Font Styles ---------------------------- */
/*********************************************************************/

input::placeholder {
  opacity: 0.5;
  font-family: "Roboto Light", sans-serif;
}

input::-webkit-input-placeholder {
  opacity: 0.5;
  font-family: "Roboto Light", sans-serif;
}

input:-ms-input-placeholder {
  opacity: 0.5;
  font-family: "Roboto Light", sans-serif;
}

input:-moz-placeholder {
  opacity: 0.5;
  font-family: "Roboto Light", sans-serif;
}

input::-moz-placeholder {
  opacity: 0.5;
  font-family: "Roboto Light", sans-serif;
}

/*********************************************************************/
/* ------------------------ Form Styles ---------------------------- */
/*********************************************************************/

label {
  display: block;
  margin-bottom: 12px;

  span {
    display: block;
    margin-bottom: 4px;
  }
  input {
    height: 45px;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    border: none;
  }
}